.aboutList {
    padding: 33px 108px 0px 108px;
    @include verticalFlex;

    @include mobile-only {
        padding-left: 0;
        padding-right: 0;
    }

    &__element {
        position: relative;
        margin-bottom: 33px;

        &__headBox {
            position: relative;
            padding: 8px 18px 8px 18px;
            @include horizontalFlex;
            justify-content: space-between;
            background-color: $primary-color;
            border-radius: 5px;
            z-index: 2;
            cursor: pointer;

        }

        &__title {
            color: white;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 24px;

            @include mobile-only {
                font-size: 13px;
            }
        }

        &__button {
            background-color: rgba($color: $primary-color, $alpha: 0);
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }

        &__button--active {
            transform-origin: center;
            transform: rotateX(180deg);

        }


        &__text {
            margin-top: -60px;
            overflow: hidden;
            font-family: $secondary-font;
            font-weight: 400;
            transition: 0.2s ease-in;
            color: $background-color;
            border-radius: 5px;
            font-size: 24px;
            color: $background-color;
            padding: 27px 27px 19px 18px;
            opacity: 0;

            @include mobile-only {
                font-size: 12px;
            }

        }

        &__text--visible {
            margin-top: 0;
            overflow: visible;
            background: $secondary-color;
            color: $primary-color;
            opacity: 1;

        }

        &__paragraphText {
            max-height: 0;
            opacity: 0;
            transition: 0.2ms ease-in;
        }

        &__paragraphText--active {
            max-height: 500px;
            opacity: 1;
            transition: 0.2ms ease-in;

            @include mobile-only {
                max-height: 1000px;
            }
        }
    }
}