.banner {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 223px;
    position: relative;
    z-index: 0;
    margin-top: 62px;

}

//------home-page-banner--------
.banner__ {
    background-image: url("../../../public/banner-home.jpg");
    background-position-y: -320px;

    @include mobile-only {
        height: 111px;
        margin-top: 0;
        background-position-y:-400px ;
        background-position-x: -280px;
    }
}

//---------about-page-banner--------
.banner__about {
    background-image: url("../../../public/banner-about.jpg");
    background-position-y: -180px;



}


//-----------filter effect + text if in home page-----------
.homeMain {
    &--darken {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.16);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        z-index: 1;
    }


    &__title {
        position: absolute;
        color: white;
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        z-index: 2;

        @include mobile-only {
            font-size: 24px;
            text-align: left;
        }
    }

}