
.banner{
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 223px;
    position: relative;
    z-index: 0;
    margin-top: 62px;
}
.banner__{
    background-image: url("../../../public/banner-home.jpg");
    background-position-y:-320px;
}

.banner__about{
    background-image: url("../../../public/banner-about.jpg");
    background-position-y: -200px;
  
}

.homeMain--darken{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 1;
}