.footer{

    width: 100%;
    @include verticalFlex;
    justify-content: center;
    align-items: center;
    margin-top: 159px;
    height: 209px;
    background: black;

    &__logo-img{
        width: 122px;
    }

    &__text{
        margin-top: 28px;
        color: white;
        font-size: 24px;
        font-weight: 400;
    }

}