//?-----------------Banner------------------//

.homeMain {
    @include mainPadding;
    @include verticalFlex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;



    &__title {
        position: absolute;
        color: white;
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        z-index: 2;
    }

}