.housingForm__generalInfos {
    @include horizontalFlex;
    justify-content: space-between;
    margin-top: 24px;
    color: $primary-color;
    @include mobile-only{
        @include verticalFlex;
    }

    &__left {
        @include verticalFlex;

    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        @include mobile-only{
            font-size: 18px;
        }
    }

    &__address {
        font-style: normal;
        @include mobile-only{
            font-size: 14px
        }
    }

    &__right {
        @include verticalFlex;
        position: relative;
        @include mobile-only{
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-left: 0;
        }
    }

    &__nameAndPic {
        @include horizontalFlex;
        margin-left: 80px;
        @include mobile-only{
            margin-top: 5px;
            margin-left: 0;
        }
    }

    &__name {
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
        font-size: 18px;
        @include mobile-only{
            font-size: 12px;
        }
    }

    &__profilePicContainer {

        border-radius: 36px;
        min-width: 64px;
        height: 64px;
        overflow: hidden;
        @include mobile-only{
            height: 32.01px;
            min-width: 32.01px;
            margin-top: 10px;
        }
    }

    &__profilePic {

        width: 100%;
        height: 100%;
    }

    &__tagContainer {
        @include horizontalFlex;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    &__tag {
        margin-right: 10px;
        color: $background-color;
        background: $primary-color;
        min-width: 115px;
        padding: 3px 8px 3px 8px;
        text-align: center;
        height: 25px;
        border-radius: 10px;
        font-size: 14px;
        margin-bottom: 5px;
        @include mobile-only{
            height: 18px;
            font-size: 10px;
            border-radius: 5px;
        }
    }

    &__tagsAndStars {
        @include horizontalFlex;
        justify-content: space-between;
    }

    &__starsContainer {
        margin-top: 27px;
        @include horizontalFlex;
        flex-wrap: nowrap;
    }
}

.star {
    margin-left: 15px;
    @include mobile-only{
        width: 13px;
        height: 13px;
    }
}

.housing__moreInfos {
    @include horizontalFlex;
    justify-content: space-between;
    margin-top: 24px;
    @include mobile-only{
        flex-direction: column;
    }

    &>li {
        width: 45%;
        @include mobile-only{
            width: 100%;
        }

        &>div {
            font-size: 18px;

        }
    }

    &__height {
        height: 209px;
        
    }

}

.housingHeight {
    height: 209px;
    
}
.housingMobileHeight{
    @include mobile-only{
      
    }
}