.housingMain{
    @include mainPadding;
    @include verticalFlex;
    justify-content:center; 
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    @include mobile-only{
        padding-left: 20px;
        padding-right: 20px;
    }

    &__imgContainer{
        position:relative;
        height: 415px;
        @include mobile-only{
            height: 255px;
        }

        
    }
    &__img{
        position: absolute;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transition: 2s;
        

    }


    &__chevron--left, &__chevron--right{
        position: absolute;
        z-index: 2;
        bottom: 180px;
        cursor: pointer;
        background:rgba($color: #000000, $alpha: 0);
        border: none;
        @include mobile-only{
            bottom:116px;

        }
        

    }
    &__chevron--left{
        left:23px;
    }
    &__chevron--right{

        transform: rotate(180deg);
        right: 23px;
    }
    &__chevron-img{
        height: 80px;
        @include mobile-only{
            height: 20px;
        }
    }

    &__imgIndex{
        position: absolute;
        z-index: 2;
        bottom: 25px;
        left: 49%;
        color: white;
    }
}