.mainHome{
    @include horizontalFlex;
    justify-content:center;
    margin-top: 62px;
    &__banner{
        border-radius: 16px;
        background-image: url("../../../public/banner.png");
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size: cover;
        width: 100%;
        height: 223px;
        position: relative;
        z-index: 0;
    }
    &--darken{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.16);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        z-index: 1;
    }

    &__txt{
        position:absolute;
        color: white;
        font-size: 48px;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

}