.pageNotFound {
    @include verticalFlex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    max-width: 1440px;
    margin: auto;
    margin-top: 170px;

    &__title {

        font-size: 288px;

        @include mobile-only {
            font-size: 96px;
        }
    }

    //-------------------first text------------
    &__text {
        margin-top: 66px;
        font-size: 36px;
        text-align: center;

        @include mobile-only {
            font-size: 18px;
        }
    }

    //-------second text leading home-------------
    &__homeLink {
        margin-top: 182px;
        font-size: 18px;
        text-decoration: underline;
        text-align: center;

        @include mobile-only {
            font-size: 14px;
        }
    }
}